<!DOCTYPE html>

<!--
  Google HTML5 slide template

  Authors: Luke Mahé (code)
           Marcin Wichary (code and design)

           Dominic Mazzoni (browser compatibility)
           Charles Chen (ChromeVox support)

  URL: http://code.google.com/p/html5slides/
-->

<html>
  <head>
    <title>Tendências Tecnológicas</title>

    <meta charset='utf-8'>
    <script
      src='../slides.js'></script>
  </head>

  <style>
    /* Your individual styles here, or just use inline styles if that’s
       what you want. */


  </style>

  <body style='display: none'>

    <section class='slides layout-regular template-default'>

      <!-- Your slides (<article>s) go here. Delete or comment out the
           slides below. -->

      <article class='fill'>
        <p>
          <img src='images/logo_grupython.png'>
        </p>
      </article>

      <article>
        <h1>
            Tendências Tecnológicas
        </h1>
        <p>
          Cássio Oliveira Botaro
          <br>
          7 de Maio de 2014
        </p>
      </article>

      <article>
        <h3>
          Quem sou eu?
        </h3>
            <div style="text-align:center">
           <img style="height:200px"  src='images/foto.png'>
           </div>
          <ul style="margin:0;padding:80px 0 0 0;">
            <a href="https://www.facebook.com/grupython.ufla?fref=ts" target="_blank"><img style="height:150px;width:150px;" src='images/gp.png'></a>
            <img style="height:150px;width:150px;" src='images/ifmg.png'>
            <a href="http://python-mg.github.com/" target="_blank"><img style="height:150px;width:150px;" src='images/pymg.png'></a>
            <img style="height:150px;width:150px;" src='images/oss.png'>
            <img style="height:150px;width:150px;" src='images/linux.png'>
        </ul>
      </article>
      <article class='fill'>
        <h3>
          Evangelista Python
        </h3>
        <p>
          <img src='images/pastor_metralhadora.png'>
        </p>
      </article>
      <article>
        <h1>Sumário</h1>
          <ul>
              <li>Dicas sobre o mercado de trabalho</li>
              <li>Tecnologias em Tendência</li>
              <li>O que está por vir</li>
              <li>Casos de sucesso</li>
              <li>Novas Profissões</li>
          </ul>
      </article>


        <article>
            <h1 style="text-align:center">Algumas dicas para iniciar...</h1>
            <div style="text-align:center;">Como se preparar para o mercado.</div>
        </article>

      <article class='fill'>
        <h3 style="color:black">
          Seja Poliglota...
        </h3>
        <p>
          <img src='images/mandarim.jpg'>
        </p>
      </article>

      <article class='fill'>
        <h3 style="color:black">
          Aproveite seu tempo...
        </h3>
        <p>
          <img style="width:100px;height:100px" src='images/tempo.png'>
        </p>
      </article>

    <article class='fill'>
        <h3 style="color:black">
          Seja diferente...
        </h3>
        <p>
          <img style="height:55%"  src='images/different.png'>
        </p>
    </article>

    <article>
      <h3 style="color:black">
        O mercado pode te receber com terno e gravata...
      </h3>
      <p>
        <img src='images/business-man.svg'>
      </p>
    </article>

    <article >
      <h3 style="color:black">
        ...ou um escorregador e puffs!
      </h3>
      <p>
        <img style="width:400px;height:400px" src='images/work1.jpg'>
        <img style="width:350px;height:400px" src='images/work2.jpg'>
      </p>
    </article>

    <article class='fill'>
        <h3 style="color:black">
          Mas não se esqueça do meio acadêmico.
        </h3>
        <p>
          <img style="height:55%"   src='images/academico.jpg'>
        </p>
    </article>



        <article>
            <h1 style="text-align:center">Tecnologias em tendência</h1>
        </article>


<article class='fill'>
        <h3>
            Dispositivos Móveis
        </h3>
        <img src="images/mobile-flat-psd.jpg" alt="">
    </article>

    <article>
        <h1>Transformando aplicações web em móveis</h1>
        <ul>
            <li><a href="http://www.sencha.com/">Sencha</a></li>
            <li><a href="http://phonegap.com/">Phone Gap</a></li>
        </ul>
    </article>

<article class='fill'>
        <h3>
            Aplicações WEB
        </h3>
        <img  style="height:55%" src="images/internet.png" alt="">
    </article>

    <article class='fill'>
            <h3>
                Node JS
            </h3>
            <img width="60%" src="images/nodejs.png" alt="">
        </article>
    <article class='fill'>
            <h3>
                Angular JS
            </h3>
            <img height="40%"  src="images/angularjs.png" alt="">
        </article>

    <article class='fill'>
            <h3>
                HTML 5 +  CSS 3 + JS
            </h3>
            <img height="50%"   src="images/languages.png" alt="">
        </article>

        <article>
        <h4>Python, Ruby e Java</h4>
          <a href=""><img style="height:200px;width:200px;" src='images/rubylang.png'></a>
          <a href=""><img style="height:200px;width:400px;" src='images/python_small.png'></a>
          <a href=""><img style="height:200px;width:800px;" src='images/play.png'></a>
      </article>

      <article class='fill'>
            <h3>
               Web 2.0 e web semântica
            </h3>
            <img height="50%"   src="images/html5_struct.png" alt="">
        </article>

        <article class='fill'>
            <h3>
               NOSQL
            </h3>
            <img width="50%"   src="images/nosql.gif" alt="">
        </article>



      <article>
            <h1 style="text-align:center">O que está por vir</h1>
        </article>

        <article class='fill'>
          <h3>
            Polymer
          </h3>
          <p>
            <a href="http://www.polymer-project.org/" target="_blank"><img width="50%" src='images/p-logo.svg'></a>
          </p>
        </article>

        <article class='fill'>
          <h3>
            Big Data
          </h3>
          <p>
            <a href="http://pt.wikipedia.org/wiki/Big_data" target="_blank"><img width="50%" src='images/bigdata.jpg'></a>
          </p>
        </article>

        <article>
            <h1 style="text-align:center">Casos de sucesso</h1>
        </article>

         <article class='fill'>
          <h3>
            Instagram
          </h3>
          <p>
            <a href="http://instagram.com/" target="_blank"><img  src='images/instagram.jpg'></a>
          </p>
        </article>
        <article class='fill'>
          <h3>
            WhatsApp
          </h3>
          <p>
            <a href="http://www.whatsapp.com/?l=pt_br" target="_blank"><img width="50%" src='images/whatsapp.png'></a>
          </p>
        </article>

        <article>
            <h1 style="text-align:center">Novas Profissões</h1>
        </article>

    <article>
      <h3>
        UI/UX Design
      </h3>
      <p>
        <img width="50%" src='images/techkik-UI-vs-UX.jpg'>
      </p>
    </article>

    <article class='fill'>
      <h3>
        Data Scientist
      </h3>
      <p>
        <img width="50%" src='images/scientist.jpg'>
      </p>
    </article>

      <article style="background:blue">
        <p style="text-align:center">
          <img src='images/keep_calm.png'>
        </p>
      </article>

      <article class='fill'>
        <h3>
            Dúvidas ?!?!
        </h3>
        <p>
          <img src='images/talk_about.jpg'>
        </p>
    </article>

    <article class='fill'>
        <h3>
          Sempre veja o lado pythonico da vida
        </h3>
        <p>
          <img src='images/silly.jpg'>
        </p>
    </article>
    <article style="background-color:black">
        <img style="margin-top:20px;height:500px" src="images/sentibol_wallpapper.jpg" alt="sentibol">
        <h3 style="color:white">Em breve...</h3>
    </article>



      <article>
        <h3>
          Obrigado!!
        </h3>
        <p>
          <img class='centered' style='height: 400px' src='images/fred-mercury-rage-meme.png'>
        </p>
      </article>

      <article>
        <h4>Contatos:</h4>
          <a href="https://twitter.com/cassiobotaro"><img style="height:200px;width:200px;" src='images/twitter.png'></a>
          <a href="https://plus.google.com/+C%C3%A1ssioBotaro/posts"><img style="height:200px;width:200px;" src='images/gplus.png'></a>
          <a href="https://github.com/cassiobotaro"><img style="height:200px;width:200px;" src='images/github.png'></a>
          <a href="https://www.facebook.com/cassio.botaro"><img style="height:200px;width:200px;" src='images/facebook.png'></a>
          <a href="https://groups.google.com/forum/#!forum/python-mg"><img style="height:200px;width:200px;" src='images/pymg.png'></a>
      </article>

    </section>
  </body>
</html>
