<!DOCTYPE html>

<!--
  Google HTML5 slide template

  Authors: Luke Mahé (code)
           Marcin Wichary (code and design)

           Dominic Mazzoni (browser compatibility)
           Charles Chen (ChromeVox support)

  URL: http://code.google.com/p/html5slides/
-->

<html>
  <head>
    <title>Grupython 2013</title>

    <meta charset='utf-8'>
    <script
      src='../slides.js'></script>
  </head>

  <style>
    /* Your individual styles here, or just use inline styles if that’s
       what you want. */


  </style>

  <body style='display: none'>

    <section class='slides layout-regular template-default'>

      <!-- Your slides (<article>s) go here. Delete or comment out the
           slides below. -->



      <article class='fill'>
        <p>
          <img src='images/logo_grupython.png'>
        </p>
      </article>

      <article>
        <h1>
          Grupython UFLA
          <br>
          2013
        </h1>
        <p>
          Cássio Botaro
          <br>
          19 de Novembro de 2012
        </p>
      </article>

      <article>
        <h3>
          Quem sou eu?
        </h3>
          <ul>
            <li>Terceiro periodo Ciência da computação na UFLA</li>
            <li>Fundador e coordenador do <a href="https://plus.google.com/b/104278860530209043389/104278860530209043389/posts" target="_blank">Grupython UFLA</a></li>
            <li>Técnico em Automação Industrial</li>
            <li>Blogueiro(<a href="http://www.blogteih.com.br/blog/" target="_blank">Blog TêIh!</a> )</li>
            <li>Coordenador da <a href="http://python-mg.github.com/">Python-MG</a></li>
            <li>Usuário Linux e Amante do open source.</li>
        </ul>
      </article>
      <article>
        <h1>Bem vindos!</h1>
      </article>

      <article>
        <h3>
          Sabe Programar?
        </h3>
        <p>
          <img style='height: 500px' src='images/hacker2.jpg'>
        </p>
      </article>

      <article class='fill'>
        <h3>
          Um pouco de história...
        </h3>
        <p>
          <img src='images/historia.jpg'>
        </p>
      </article>

      <article>
          <img src="images/Guido_van_Rossum.jpg" style="float:right;padding:20px">
            <ul>
              <li>Surgiu em 1989</li>
              <li>Criada por Guido van Rossum</li>
              <li>Baseado em Algol 68, C, Modula-3 e ABC</li>
              <li>Nome baseado na série Monty Python's Flying Circus</li>
              <li>BDFL trabalha para Google</li>
              <li>Licença compatível com software livre</li>
              <li>Ainda em produção</li>
            </ul>
      </article>

      <article class='fill'>
        <h3>
          Um pouco de Python...
        </h3>
        <p>
          <img src='images/piton_verde.jpg'>
        </p>
      </article>

      <article>
        <h4>Sobre a Linguagem (Bons motivos para usa-la):</h4>
        <ul class="build">
          <li>Multiplataforma</li>
          <li>Multiparadigma</li>
          <li>Multiuso(Baterias Incluidas)</li>
          <li><img src="images/conte_mais.jpg"/></li>
        </ul>
      </article>

      <article>
        <h4>Motivos <del><i>reais</i></del> para aprender a linguagem:</h4>
          <ul>
            <li >Blocos de código através da identação, o que propicia um código mais limpo e organizado;</li>
            <li>Você não tem que preocupar com ponto e vírgula ao fim dos comandos;</li>
            <li>Não precisa declarar variável (apenas inicializar);</li>
            <li>Baterias Incluídas (muita coisa já pronta e otimizada para você não ter de reinventar a roda)</li>
            <li>Código legível para humanos</li>
            <li>Escreve pouco e produz muito</li>
          </ul>
      </article>

      <article>
        <h3>
          Comunidade
        </h3>
        <p>
          <img class='centered' style='height: 400px' src='images/comunidade.jpg'>
        </p>
      </article>

      <article>
        <h3>
          Zen do Python
        </h3>
        <p>
          <img class='centered' style='height: 400px' src='images/zen.png'>
        </p>
      </article>

      <article>
        <h4>Um pouco mais sobre a linguagem</h4>
        <ul class="build">
          <li>Tipagem dinâmica porém forte</li>
          <li>Estruturas de dados de alto nível</li>
          <li>Fácil de aprender</li>
          <li>Sintaxe simples e clara</li>
          <li>Comunica com várias linguagens</li>
          <li>E muito mais...</li>
        </ul>
      </article>
      <

      <article>
      <h4>Onde é utilizada?</h4>
      <ul>
        <li>Robótica</li>
        <li>Games</li>
        <li>Aplicações web</li>
        <li>Computação científica</li>
        <li>Interfaces gráficas</li>
        <li>"glue language"</li>
        <li>Coloque aqui sua área</li>
      </ul>
      </article>

      <article>
        <h4>Quem usa?</h4>
        <ul>
          <li>Google</li>
          <li>NASA</li>
          <li>Industrial light &amp; Magic</li>
          <li>Globo.com</li>
          <li>Dropbox</li>
          <li>Instagram</li>
          <li>Outras...</li>
        </ul>

      </article>

      <article>
          <h1 style="text-align:center">Por onde começo ?!?!</h1>
          <h3 style="color:red;text-align:center">Qual IDE utilizar?</h2>
      </article>

      <article>
          <h1 style="text-align:center">Hello World!</h1>
          <pre>
            import antigravity
            import webbrowser
            webbrowser.open("http://xkcd.com/353/")
          </pre>
      </article>

      <article>
        <h1>Podemos testar código enquanto programamos!</h1>
        <h2>REPL (Read, Eval, Print, Loop)</h2>
      </article>

      <article>
        <h1>Python 2 ou 3 ?!?!</h1>
      </article>

      <article>
        <h1>Tudo é Objeto!</h1>
      </article>

      <article>
          <h1 style="text-align:center">Por Favor e Obrigado</h1>
          <h3 style="color:blue;text-align:center">dir e help</h3>
      </article>

      <article class='fill'>
        <h3 style="color:red">
          Python é lento!!!
        </h3>
        <p>
          <img src='images/fuuu.png'>
        </p>
      </article>

      <article class='fill'>
        <h3>
          Apenas um arranhão!
        </h3>
        <p>
          <img src='images/montypython.jpg'>
        </p>
      </article>

      <article style="background:blue">
        <p style="text-align:center">
          <img src='images/keep_calm.png'>
        </p>
      </article>

      <article class='fill'>
        <h3>
          "Talk is cheap, show me the code!"
        </h3>
        <p>
          <img src='images/linus-torvalds.jpg'>
        </p>
      </article>

      <article>
        <h1>Dúvidas ?!?!?</h1>
      </article>

      <article>
        <h3>
          Obrigado!!
        </h3>
        <p>
          <img class='centered' style='height: 400px' src='images/fyeah.jpg'>
        </p>
      </article>

      <article>
        <h4>Contatos:</h4>
        <ul>
          <li><a href="https://www.facebook.com/cassiobotaro">Facebook</a></li>
          <li><a href="https://twitter.com/cassiobotaro">Twitter</a></li>
          <li><a href="https://plus.google.com/115526873231171443807/posts">Google+</a></li>
          <li><a href="https://github.com/grupythonUFLA">Github</a></li>
          <li><a href="http://www.blogteih.com.br/blog/">Blog TêIh!</a></li>
        </ul>
      </article>

    </section>
  </body>
</html>
