<!DOCTYPE html>

<!--
  Google HTML5 slide template

  Authors: Luke Mahé (code)
           Marcin Wichary (code and design)

           Dominic Mazzoni (browser compatibility)
           Charles Chen (ChromeVox support)

  URL: http://code.google.com/p/html5slides/
-->

<html>
  <head>
    <title>Grupython 2013/1</title>

    <meta charset='utf-8'>
    <script
      src='../slides.js'></script>
  </head>

  <style>
    /* Your individual styles here, or just use inline styles if that’s
       what you want. */


  </style>

  <body style='display: none'>

    <section class='slides layout-regular template-default'>

      <!-- Your slides (<article>s) go here. Delete or comment out the
           slides below. -->

      <article class='fill'>
        <p>
          <img src='images/logo_grupython.png'>
        </p>
      </article>

      <article>
        <h1>
          Grupython UFLA
          <br>
          2013/1
        </h1>
        <p>
          Cássio Botaro "Skin"
          <br>
          28 de Maio de 2013
        </p>
      </article>

      <article>
        <h3>
          Quem sou eu?
        </h3>
          <ul>
            <img src='images/foto.png'>
            <li>Quarto periodo Ciência da computação na UFLA</li>
            <li>Fundador e coordenador do <a href="https://plus.google.com/b/104278860530209043389/104278860530209043389/posts" target="_blank">Grupython UFLA</a></li>
            <li>Técnico em Automação Industrial</li>
            <li>Coordenador da <a href="http://python-mg.github.com/" target="_blank">Python-MG</a></li>
            <li>Usuário Linux e Amante do open source.</li>
        </ul>
      </article>

      <article>
        <h1>Bem vindos!</h1>
      </article>

      <article>
        <h3>
          Sabe Programar?
        </h3>
        <p>
          <img style='height: 500px' src='images/hacker2.jpg'>
        </p>
      </article>

      <article class='fill'>
        <h3>
          Um pouco de história...
        </h3>
        <p>
          <img src='images/historia.jpg'>
        </p>
      </article>

      <article>
          <img src="images/Guido_van_Rossum.jpg" style="float:right;padding:20px">
            <ul>
              <li>Criada por Guido van Rossum</li>
              <li>Surgiu em 1990</li>
              <li>Baseado em Algol 68, C, Modula-3, ABC e outras.</li>
              <li>Nome baseado na série Monty Python's Flying Circus</li>
              <li>BDFL trabalha para Dropbox</li>
              <li>Licença compatível com software livre</li>
              <li>Ainda em produção</li>
            </ul>
      </article>

      <article class='fill'>
        <h3>
          Por que python?
        </h3>
        <p>
          <img src='images/piton_verde.jpg'>
        </p>
      </article>

    <article>
          <img src="images/Eckel.jpg" style="float:right;padding:20px">
          <q>Python me ajuda a focar nos meus conceitos em vez de brigar com a linguagem.</q>
          <p>Bruce Eckel - autor do Thinking in C++ e Thinking in Java</p>
    </article>

      <article>
        <h4>Por que python?</h4>
          <ul>
            <li>Produtividade em menor tempo</li>
            <li>Estruturas de dados de alto nível</li>
            <li>Tipagem dinâmica(mas forte)</li>
            <li >Blocos de código através da identação, o que propicia um código mais limpo e organizado</li>
            <li>Você não tem que preocupar com ponto e vírgula ao fim dos comandos</li>
          </ul>
      </article>

      <article>
        <ul>
            <h4>...</h4>
            <li>Melhora da auto estima do programador</li>
            <li>Código legível para humanos</li>
            <li>Escreve pouco e produz muito</li>
            <li>Comunica com várias linguagens</li>
            <li>E muito mais...</li>
        </ul>
      </article>

      <article>
            <img src="images/Eckel.jpg" style="float:right;padding:20px">
            <q>A vida é melhor sem chaves.</q>
            <p>Bruce Eckel - autor do Thinking in C++ e Thinking in Java</p>
      </article>

      <article>
            <img src="images/Norvig.jpg" style="float:right;padding:20px">
            <q style="font-size:x-large">Python tem sido uma parte importante do Google
            desde o início, e pernanece assim conforme o sistema cresce e evolui. Hoje dezenas de engenheiros do Google utilizam Python, e estamos procurando por mais pessoas com conhecimento nesta linguagem.</q>
            <p style="font-size:x-large">Peter Norvig - Diretor de Qualidade de busca do Google Inc.</p>
      </article>


    <article>
      <img src="images/Eric.jpg" style="float:right;padding:20px">
      <q style="font-size:xx-large">Python é entre todas as linguagens que eu aprendi a que menos interfere entre mim e o problema, é a mais efetiva para traduzir pensamento em ações.</q>
      <p>Eric Raymond - Hacker</p>
    </article>

    <article>
          <img src="images/Alex.jpg" style="float:right;padding:20px">
          <q>[...]Nossa filosofia aqui é "Python sempre que pudermos, C++ se necessário."</q>
          <p>Alex Martelli - Google</p>
    </article>

      <article>
        <h3>
          Comunidade
        </h3>
        <p>
          <img class='centered' style='height: 400px' src='images/comunidade.jpg'>
          <p>Python Brasil 5</p>
        </p>
      </article>

      <article>
        <h3>
          Zen do Python
        </h3>
        <p>
          <img class='centered' style='height: 480px' src='images/zen.png'>
        </p>
      </article>

       <article>
        <h4>Um pouco mais sobre a linguagem:</h4>
        <ul>
          <li>Multiplataforma</li>
          <li>Multiparadigma</li>
          <li>Multiuso(Baterias Incluidas)</li>
          <img src="images/conte_mais.jpg"/>
        </ul>
      </article>


      <article>
      <h4>Onde é utilizada?</h4>
      <ul>
        <li>Robótica</li>
        <li>Games</li>
        <li>Aplicações web</li>
        <li>Computação científica</li>
        <li>Interfaces gráficas</li>
        <li>"glue language"</li>
        <li>Coloque aqui sua área</li>
      </ul>
      </article>

      <article><q>Não pergunte o que pode fazer com python e sim o que python pode fazer por você.</q></article>

      <article>

        <h4>Quem usa?</h4>
        <ul>
          <li>Google</li>
          <li>NASA</li>
          <li>Industrial light &amp; Magic</li>
          <li>Globo.com</li>
          <li>Dropbox</li>
          <li>Instagram</li>
          <li>Pinterest</li>
          <li>Sites do governo brasileiro</li>
          <li>Outras...</li>
        </ul>

      </article>

      <article>
          <h1 style="text-align:center">Por onde começo ?!?!</h1>
          <h3 style="color:red;text-align:center">Qual IDE utilizar?</h2>
      </article>

      <article>
          <h1 style="text-align:center">Hello World!</h1>
          <pre>
            print("Hello World")
            import __hello__
            import antigravity
            import webbrowser
            webbrowser.open("http://xkcd.com/353/")
          </pre>
      </article>

      <article>
        <h1>Podemos testar código enquanto programamos!</h1>
        <h2>REPL (Read, Eval, Print, Loop)</h2>
      </article>

      <article>
        <h1>Python 2 ou 3 ?!?!</h1>
      </article>

      <article>
        <h1>Tudo é Objeto!</h1>
      </article>

      <article>
          <h1 style="text-align:center">Por Favor e Obrigado</h1>
          <h3 style="color:blue;text-align:center">dir e help</h3>
      </article>

      <article class='fill'>
        <h3 style="color:red">
          Python é lento!!!
        </h3>
        <p>
          <img src='images/fuuu.png'>
        </p>
      </article>


      <article class='fill'>
        <h3>
          Apenas um arranhão!
        </h3>
        <p>
          <img src='images/montypython.jpg'>
        </p>
      </article>

      <article>
        <q>
          Otimização prematura é a raiz de todo o mal.
        </q>
        <p> Tony Hoare</p>
      </article>


    <article>
          <img src="images/cuong.png" style="float:right;padding:20px">
          <q style="font-size:x-large">Python é rápido suficiente para o nosso site e nos permite produzir características de fácil manutenção em tempos recordes, com um mínimo de desenvolvedores.</q>
          <p>Cuong Do, Arquiteto de software, Youtube.com</p>
    </article>

      <article style="background:blue">
        <p style="text-align:center">
          <img src='images/keep_calm.png'>
        </p>
      </article>

      <article class='fill'>
        <h3>
          "Talk is cheap, show me the code!"
        </h3>
        <p>
          <img src='images/linus-torvalds.jpg'>
        </p>
      </article>

      <article>
        <h1>Dúvidas ?!?!?</h1>
      </article>

      <article>
        <h3>
          Obrigado!!
        </h3>
        <p>
          <img class='centered' style='height: 400px' src='images/fred-mercury-rage-meme.png'>
        </p>
      </article>

      <article>
        <h4>Contatos:</h4>
        <ul>
          <li><a href="https://twitter.com/cassiobotaro">Twitter</a></li>
          <li><a href="https://plus.google.com/115526873231171443807/posts">Google+</a></li>
          <li><a href="https://github.com/cassiobotaro">Github</a></li>
          <li><a href="https://www.facebook.com/cassio.botaro">Facebook</a></li>
        </ul>
      </article>

    </section>
  </body>
</html>
